<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="TermDictionaryFiles" value="Allowed_term_dictionary.csv" />
    <add key="ProcessingLogFile" value="Processing_log.txt" />

    <add key="LogFileDirectory" value="F:\Magistry files\oldMagitryProj\MagistryProject\files\log" />
    <add key="CsvFileDirectory" value="F:\Magistry files\oldMagitryProj\MagistryProject\files\csv_files" />
    <add key="DataFileDirectory" value="F:\Magistry files\oldMagitryProj\MagistryProject\files\data" />
    <add key="RtfDataFileDirectory" value="F:\Magistry files\oldMagitryProj\MagistryProject\files\data\rtfFiles" />
    <add key="TestDataFileDirectory" value="F:\Magistry files\oldMagitryProj\MagistryProject\files\data\test" />
    <add key="ReportFileDirectory" value="F:\Magistry files\oldMagitryProj\MagistryProject\files\reports" />
    <add key="ReportsTestDataFileDirectoryKMeans" value="F:\Magistry files\oldMagitryProj\MagistryProject\files\reports\test\KMeans_report" />
    <add key="ReportsTestDataFileDirectoryKMeansPP" value="F:\Magistry files\oldMagitryProj\MagistryProject\files\reports\test\KMeansPP_report" />
    <add key="ExportedCSVFileDirectory" value="F:\Magistry files\oldMagitryProj\MagistryProject\files\exported_csv" />
    <add key="ExportedJSONFileDirectory" value="F:\Magistry files\oldMagitryProj\MagistryProject\files\exported_json" />
    <add key="TestFilesDirectory" value="F:\Magistry files\oldMagitryProj\MagistryProject\files\testFiles" />
    <add key="BibtexDataFileDirectory" value="F:\Magistry files\oldMagitryProj\MagistryProject\files\bibtex_files"/>
    <add key="FileSeparator" value=";" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Wyszukiwarka_publikacji_v0._2.Properties.Settings.ArticleDBConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ArticleDB.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="ArticlesDataModelContainer" connectionString="metadata=res://*/ArticlesDataModel.csdl|res://*/ArticlesDataModel.ssdl|res://*/ArticlesDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=Wyszukiwarka_publikacji_v0._2.Logic.PublicationsContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ArticlesDataContainer" connectionString="metadata=res://*/ArticlesDataModel.csdl|res://*/ArticlesDataModel.ssdl|res://*/ArticlesDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Database\ArticleDB.mdf;initial catalog=ArticleDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ArticleDBDataModelContainer" connectionString="metadata=res://*/ArticleDBDataModel.csdl|res://*/ArticleDBDataModel.ssdl|res://*/ArticleDBDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=ArticleProjDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ArticleProjDBEntities" connectionString="metadata=res://*/ArticleDBDataModel.csdl|res://*/ArticleDBDataModel.ssdl|res://*/ArticleDBDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;initial catalog=ArticleProjDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ArticleProjDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; Integrated Security=SSPI; User ID=sa; Password=1393490Max" providerName="System.Data.SqlClient" />
  <add name="NewBaseDbContext" connectionString="data source=(LocalDB)\MSSQLLocalDB;initial catalog=ArticleProjDB;user id=localsa;password=12345home;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /><add name="Model1" connectionString="data source=(LocalDB)\MSSQLLocalDB;initial catalog=ArticleProjDB;user id=localsa;password=12345home;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Sockets" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.NameResolution" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Security" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>