<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BERef.BibTeXTools" version="0.0.1.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.5.1" targetFramework="net461" />
  <package id="Neo4j.Driver" version="1.4.0" targetFramework="net461" />
  <package id="Neo4jClient" version="2.0.0.9" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="RtfDomParser" version="1.0.0" targetFramework="net461" />
  <package id="sautinsoft.document" version="2.5.3.3" targetFramework="net461" />
  <package id="Shaman.Stemming" version="1.0.1.3" targetFramework="net461" />
  <package id="Shaman.ValueString" version="1.0.2.31" targetFramework="net461" />
  <package id="System.Net.NameResolution" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.Security" version="4.3.1" targetFramework="net461" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
</packages>